.headerBox {
    display: flex;
    width: 35%;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    position: relative;

}

.rightArrow {
    align-self: flex-end;
    margin-right: 3%;
    margin-bottom: 2%;
    width:10px;
    height:10px;
    position: absolute;
    bottom: 0;
    right: 0;

}

.header {
    font-size: 1.7em;
}

.text {
    font-size: .9em;
}

@media (max-width: 450px) {
    .header {
        font-size: 1.3em;
    }

}

@media (max-width: 700px) {
    .headerBox {
        width: 75%;
        margin-bottom: 7%;
    }
}