.slick-slide > div {
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin: auto;
    padding: 0px;
    background: white;
    border: solid black;
    border-radius: 10px;
    width: 25vw;
    height: 35vh;
  }

  @media (max-width: 700px) {
    .slick-slide > div {
      width: 25vw;
    }
  }

  @media (max-width: 600px) {
    .slick-slide > div {
      width: 35vw;
    }
  }

  @media (max-width: 475px) {
    .slick-slide > div {
      width: 50vw;
    }
  }
  