.slick-slide > div {
    display: grid;
    place-items: center;
    margin-top: 50px;
    margin: auto;
    padding: 0px;
    background: white;
    border: solid black;
    border-radius: 10px;
    width: 25vw;
    height: 35vh;
  }